<nav aria-label="Pagination">
    <% if (Number(totalPages) > 0) { %>
        <ul class="pagination text-center">
            <% if (Number(currentPage) === 1) { %>
                <li class="pagination-previous disabled">Anterior</li>
            <% } else { %>
                <li class="pagination-previous">
                    <a href="/<%= uri %>/<%= Number(currentPage) - 1 %>" aria-label="Página Anterior">Anterior</a>
                </li>
            <% } %>
            <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
            <% for (; i <= (Number(currentPage) + 4) && i <= Number(totalPages); i++) { %>
                <% if (i === Number(currentPage)) { %>
                    <li class="current"><a><%= i %></a></li>
                <% } else { %>
                    <li><a href="/<%= uri %>/<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i === Number(currentPage) + 4 && i < Number(totalPages)) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
            <% } %>
            <% if (Number(currentPage) === Number(totalPages)) { %>
                <li class="pagination-next disabled">Siguiente</li>
            <% } else { %>
                <li class="pagination-next"><a href="/<%= uri %>/<%= Number(currentPage)+1 %>"
                                               aria-label="Siguiente Página">Siguiente</a></li>
            <% } %>
        </ul>
    <% } %>

</nav>